.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* padding-top: 2.5%;   */
}

.inner-div {
    width: 85vw;
}

.progress-tab {
    text-align: left;
}

.progress-grid {
    font-family: "Outfit";
    font-size: medium;
    justify-content: start;
    text-align: start;
    align-content: center;
}

.progress-box {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5%;
}

.header-one {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Outfit';
    padding-top: 5%;
    padding-left: 5%;
    align-items: center;
}

.header-two {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Outfit';
    padding-bottom: 35px;
    padding-left: 5%;
}

.outerCard {
    background-color: #f3f3f3;
    height: 87vh;
    padding: 2%;
    align-items: center;
}

.logo {
    font-family: "Righteous-Regular";
    font-size: 24px;
    vertical-align: center;
    align-items: center;
}

.status-card {
    height: 200px;
}

.status-card:hover + .withdraw-card {
    display: block;
}

.status-card:hover {
    filter: blur(2.5px);
}

.overall-card {
    position: relative;
    max-width: 100%;
}

.withdraw-card {
    position: absolute;
    max-width: 100%;
    bottom: 25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: none; 
}

.withdraw-card:hover + .status-card {
    filter: blur(2.5px);
}

.withdraw-card:hover {
    display: block
}