.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* padding-top: 2.5%;   */
}

.inner-div {
    width: 85vw;
}

.progress-tab {
    text-align: left;
}

.progress-grid {
    font-family: "Outfit";
    font-size: medium;
    justify-content: start;
    text-align: start;
    align-content: center;
}

.progress-box {
    height: 599px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5%
}

.header-one {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Outfit';
    padding-top: 5%;
    padding-left: 5%;
}

.header-two {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Outfit';
    padding-bottom: 35px;
    padding-left: 5%;
}

.outerCard {
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2%;
    align-items: center;
}

.logo {
    font-family: "Righteous-Regular";
    font-size: 24px;
    vertical-align: center;
    align-items: center;
}