.filter-tab {
    font-family: "Outfit";
    font-size: 16px;
    vertical-align: center;
    display: inline-flex;
}
  
.arrow-pad {
    position: relative;
}
  
.filters {
    padding-left: 0.925%;
    display: grid;
    font-family: 'Outfit';
}
  
.checkboxes {
    font-size: 14px;
    font-family: 'Outfit';
}
  
.filterby-tag {
    font-size: medium;
    font-family: 'Outfit';
    vertical-align: text-bottom;
    align-items: center;
    padding-top: 0.85%;
    padding-left: 1.5%;
    background: transparent;
    cursor: pointer;
}
  
.filter-delete {
    font-size: xx-small;
    font-family: 'Outfit';
    vertical-align: text-bottom;
    align-items: center;
    padding-top: 0.85%;
    background: transparent;
    cursor: pointer;
}
  
.filter-clearall {
    font-size: medium;
    font-family: 'Outfit';
    vertical-align: text-bottom;
    align-items: center;
    padding-top: 0.85%;
    padding-left: 1.5%;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}