.popup-title {
  font-family: "Outfit";
  font-size: medium;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.pop-textfield-title {
  font-family: "Outfit";
  font-size: medium;
}

.job-search-tab {
  /* padding-top: 2.5%; */
  display: flex;
  justify-content: center;
  align-items: center;    
  text-align: center;
}

.inner-div {
  width: 1128px;
  height: 25vh;
}

.job-search-text {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 500;
}

.job-search-logo {
  font-family: "Righteous-Regular";
  font-size: 24px;
  font-weight: 400;
}

.job-button {
  font-family: "Outfit";
  padding-left: 2.5%;
  text-align: center;
  vertical-align: center;
  align-items: center;
  font-size: medium;
}

.time-outer {
  display: flex
}

.date {
  flex: 1;
  margin-right: 15%;
}

.start-time {
  padding-right: 1%;
}

.remove-time {
  font-family: "Outfit";
  font-size: medium;
  flex: 1;
  margin-right: 25%;
}

.category-tab {
  padding-left: 1.5%;
}