.nav-outer {
  display: flex;
}

.logo-font {
  font-family: "Righteous-Regular";
  font-size: 24px;
  vertical-align: center;
  align-items: center;
  padding-left: 5%;
  /* padding-bottom: 0.85%; */
  border-radius: 10px;
}

.first-tab {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-bottom: 0.875%;
  padding-left: 50%;
}

.first-font {
  align-items: center;
  font-family: "Outfit";
  font-size: medium;
  padding-top: 0.35%;
  padding-left: 5%;
  padding-bottom: 0.875%;
}

.tab-font {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-left: 2.5%;
  padding-bottom: 0.875%;
}

.name-font {
  align-items: center;
  font-family: "Outfit";
  font-size: small;
  padding-top: 0.35%;
  padding-left: 5%;
  padding-bottom: 0.875%;
}

.divider {
  height: 50%;  
  border-left: 1px solid black; 
  margin: 0 10px; 
}

.profile-picture {
  width: 25px; 
  height: 25px;
  background-color: #cccccc; 
  border-radius: 50%; 
  display: inline-block;
  margin-right: 10px; 
}

.job-board-outer {
  background-color: #f3f3f3;
  height: 100%;
}

.job-board-outer1 {
  background-color: #f3f3f3;
  height: 100vh;
}

.job-textfield {
  font-family: "Outfit";
  padding-top: 1%;
  text-align: center;
  vertical-align: center;
}

.MuiButton-contained {
  font-family: "Outfit";
  text-transform: lowercase !important;
}

.recently-posted-jobs {
  font-family: "Outfit";
  font-size: xx-large;
  padding-top: 2.5%;
}

.job-table-box {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-table-inner {
  width: 90vw;
}

.job-table-grid {
  font-family: "Outfit";
  font-size: medium;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 95vw
}


.card-grid-0 {
  font-family: "Outfit";
  font-size: medium;
  justify-content: start;
  padding-left: 2%;
}

.card-grid- {
  font-family: "Outfit";
  font-size: small;
  justify-content: start;
  padding-left: 2.5%;
}

.selected-options {
  background: #f0f0f000; /* Set the background color as needed */
  border: 1px solid #ccc; /* Add a border if desired */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
  max-height: 80px; /* Limit the maximum height of the display */
  overflow-y: auto; /* Add a scrollbar when content overflows */
}

.job-table-grid .job-posting {
  font-family: 'Outfit';
  font-size: "1px";
  padding-left: '10px';
  padding-right:'10px';
}

.outerCard2 {
  background-color: #f3f3f3;
  height: 100%;
  padding: 1%;
  align-items: center;
}

.outerCard1 {
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2%;
  align-items: center;
}

.outerCardLogin {
  background-color: #f3f3f3;
  height: 83.25vh;
  padding: 2%;
  align-items: center;
}

.outerCardSignup1 {
  background-color: #f3f3f3;
  height: 84.75vh;
  padding: 2%;
  align-items: center;
}

.outerCardSignup2 {
  background-color: #f3f3f3;
  height: 98.75vh;
  padding: 2%;
  align-items: center;
}

.outerCardProfile {
  background-color: #f3f3f3;
  height: 83.5vh;
  padding: 2%;
  align-items: center;
}

.orLine-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68.5%; 
  margin-left: auto;
  margin-right: auto; 
}

.orLine-container::before,
.orLine-container::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 10px; 
}

.orText {
  padding: 0 5px; 
  white-space: nowrap;
}

.blur-background {
  filter: blur(2px);
}

.blur-effect {
  filter: blur(2px);
}

.inputSubmit .MuiInputBase-input
{
  color:black;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.custom-pagination .MuiPaginationItem-root {
  font-family: 'Outfit';
  font-size: 14px;
}

.custom-pagination .MuiPaginationItem-page.Mui-selected {
  background-color: #A0A4FF;
  color: #54555B; 
  border-radius: 50%;
}

.custom-pagination .MuiPaginationItem-page:hover {
  background-color: #4A4FE4; 
}
