.nav-outer {
  display: flex;
}

.logo-font {
  font-family: "Righteous-Regular";
  font-size: xx-large;
  vertical-align: center;
  align-items: center;
  padding-left: 5%;
  padding-bottom: 0.85%;
}

.first-tab {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-bottom: 0.875%;
  padding-left: 50%;
}

.tab-font {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-left: 2.5%;
  padding-bottom: 0.875%;
}

.name-font {
  align-items: center;
  font-family: "Outfit";
  font-size: small;
  padding-top: 0.35%;
  padding-left: 5%;
  padding-bottom: 0.875%;
}

.divider {
  height: 50%;  
  border-left: 1px solid black; 
  margin: 0 10px; 
}

.profile-picture {
  width: 30px; 
  height: 30px;
  background-color: #cccccc; 
  border-radius: 50%; 
  display: inline-block;
  margin-right: 10px; 
}

.job-board-outer {
  background-color: #f3f3f3;
  height: 100%;
}

.job-board-outer1 {
  background-color: #f3f3f3;
  height: 100vh;
}

.job-textfield {
  font-family: "Outfit";
  padding-top: 1%;
  text-align: center;
  vertical-align: center;
}

.MuiButton-contained {
  font-family: "Outfit";
  text-transform: lowercase !important;
}

.recently-posted-jobs {
  font-family: "Outfit";
  font-size: xx-large;
  padding-left: 1.5%;
  padding-top: 2.5%;
}

.job-table-grid {
  font-family: "Outfit";
  font-size: medium;
  justify-content: start;
  padding-left: 6.5%;
  padding-bottom: 1%;
  text-align: start;
  align-content: center;
}

.card-grid-0 {
  font-family: "Outfit";
  font-size: medium;
  justify-content: start;
  padding-left: 2%;
}

.card-grid- {
  font-family: "Outfit";
  font-size: small;
  justify-content: start;
  padding-left: 2.5%;
}

.selected-options {
  background: #f0f0f000; /* Set the background color as needed */
  border: 1px solid #ccc; /* Add a border if desired */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
  max-height: 80px; /* Limit the maximum height of the display */
  overflow-y: auto; /* Add a scrollbar when content overflows */
}