.nav-outer {
  display: flex;
}

.logo-font {
  font-family: "Righteous-Regular";
  font-size: xx-large;
  vertical-align: center;
  align-items: center;
  padding-left: 5%;
  padding-bottom: 0.85%;
}

.first-tab {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-bottom: 0.875%;
  padding-left: 35%;
}

.tab-font {
  font-family: "Outfit";
  font-size: medium;
  vertical-align: center;
  align-items: center;
  padding: 0.75%;
  padding-top: 2.25%;
  padding-left: 2.5%;
  padding-bottom: 0.875%;
}

.name-font {
  font-family: "Outfit";
  font-size: medium;
  padding-top: 2.25%;
  padding-left: 10%;
  padding-bottom: 0.875%;
}

.job-board-outer {
  background-color: #D9D9D9;
  height: 100%;
}

.job-board-outer1 {
  background-color: #D9D9D9;
  height: 100vh;
}

.job-search-tab {
  padding-top: 2.5%;
  text-align: center;
}

.job-search-text {
  font-family: "Outfit";
  font-size: xx-large;
}

.job-textfield {
  font-family: "Outfit";
  padding-top: 1%;
  text-align: center;
  vertical-align: center;
}

.job-button {
  font-family: "Outfit";;
  padding-left: 2.5%;
  text-align: center;
  vertical-align: center;
  align-items: center;
}

.MuiButton-contained {
  font-family: "Outfit";
  text-transform: lowercase !important;
}

.job-search-logo {
  font-family: "Righteous-Regular";
  font-size: xx-large;
}

.recently-posted-jobs {
  font-family: "Outfit";
  font-size: xx-large;
  padding-left: 1.5%;
  padding-top: 2.5%;
}

.job-table-grid {
  font-family: "Outfit";
  font-size: medium;
  justify-content: start;
  padding-left: 6.5%;
  text-align: start;
  align-content: center;
}

.card-grid-0 {
  font-family: "Outfit";
  font-size: medium;
  justify-content: start;
  padding-left: 2%;
}

.card-grid- {
  font-family: "Outfit";
  font-size: small;
  justify-content: start;
  padding-left: 2.5%;
}

.popup-title {
  font-family: "Outfit";
  font-size: medium;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.pop-textfield-title {
  font-family: "Outfit";
  font-size: medium;
}